.content_login{
	background-color: #FFFFFFFF;
}

.contentTimesheet{
	background-color: #FFFFFFFF;
}

.login-title{
	font-family: "Oswald";
	/* text-transform: uppercase; in hoa*/
	 font-size: 50px;
	 line-height: 85px;
	 font-weight: 400;
	 margin-top: 5px;
	 padding: 20px 10px;
}
.navbar-nav > li > a {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
          transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.end{
	margin-top: 50px;
	height: 100px;
	width: 100%;
}
.img-center {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 50px;
} 

.men-vintage{
	color: #000000;
	margin-left: 50px;
}

.admin-menu{
	font-size: 15px;
	color: #FFFFFF;
}
.admin-index{
	margin-left: 0;
	margin-right: 0;
}

.timesheet-nav {
	margin-right: 10px;
}

.timesheet-menu a{
	background-color: #343a40;
	color: #FFFFFF;
	font-size: 17px;
	
}
.timesheet-a{
	margin-right: 10px;
	margin-left: 10px;
}
.timesheet-menu ul li ul {
	background-color: #343a40;
	color: #FFFFFF;
	font-size: 20px;
	height: auto;
	width: 200px;
	text-align: center;
}

.timesheet-sigout{
	margin-left: 1200px;
}

.carousel-inner img{
	width: 100%;
}
.timsheet-p{
	font-size: 20px;
	font-family: Comic Sans MS;
}

.timesheet-content{
	margin-top:40px;
} 
.footer-timesheet {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.content {
	min-height: 900px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	padding-left: 50px;
}

.timesheet-content{
	min-height: 900px;
	padding-bottom: 10px;
		padding-left: 50px;
}

.admin-sigout{
	padding-right: 10px;
}

.admin-menu li {
	text-align: left;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.carousel-inner img{
	height: 800px;
	width: 100%;
}

.carousel-caption {
	top: 40%;
}

.content-login{
	margin-top: 250px;
}

.nav-admin{
	width: 255px;
}

.content-create-user{
	padding-bottom: 10px;
	padding-left: 35%;
	height: 500px;
	width: 65%;
}

.selec-level{
	width: 80px;
}

.personal{
	padding-top: 50px;
}

.header-admin{
    border-left: 1px solid #D3D3D3;
    color: #000000;

}

.nav-timesheet{
	width: 20px;
}

.admin-content{
}

.menu-admin{
	border-right: 1px solid #D3D3D3;
	font-size: 17px;
	margin-top: 0px;
	color: #000000;
}

.hearder-admin{
	margin-bottom: 0px;
}

.header-timesheet{
	margin-left: 10px;
}

.admin-sigout{
	margin-left: 1200px;
}

.user-sigout{
	padding-top: 10px;
	font-size: 18px;
	padding-left: 30px;
}

.menu-timesheet{
	margin-left: 30px;
}

.padding-user{
	padding-top: 50px;
	padding-bottom: 30px;
}

.padding-personal{
	padding-bottom: 30px;
}

.pading-show{
	padding-top: 15px;
	color: #0026FF;
}