.content_login{
	background-color: #FFFFFFFF;
}

.contentTimesheet{
	background-color: #FFFFFFFF;
}
.login-title{
	background-color: #56ffb8;
}

.login-title{
	font-family: "Oswald";
	/* text-transform: uppercase; in hoa*/
	 font-size: 50px;
	 line-height: 85px;
	 font-weight: 400;
	 margin-top: 5px;
	 padding: 20px 10px;
}
.navbar-nav > li > a {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
          transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.end{
	margin-top: 50px;
	height: 100px;
	width: 100%;
}
img.img-center {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 50px;
} 

.men-vintage{
	color: #000000;
	margin-left: 50px;
}

.admin-menu{
	font-size: 20px;
}
.admin-index{
	margin-left: 0;
	margin-right: 0;
}

.timesheet-nav {
	margin-right: 10px;
}

.timesheet-menu a{
	background-color: #343a40;
	color: #FFFFFF;
	font-size: 20px;
	
}
.timesheet-a{
	margin-right: 10px;
	margin-left: 10px;
}
.timesheet-menu ul li ul {
	background-color: #343a40;
	color: #FFFFFF;
	font-size: 20px;
	height: auto;
	width: 200px;
	text-align: center;
}

.timesheet-sigout{
	margin-left: 1200px;
}

.carousel-inner img{
	width: 100%;
}
.timsheet-p{
	font-size: 20px;
	font-family: Comic Sans MS;
}

.timesheet-content{
	margin-top:40px;
} 
.footer-timesheet {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.content {
	min-height: 750px;
	padding-bottom: 10px;
}

.admin-sigout{
	padding-right: 10px;
}
